<!DOCTYPE html>
<html>
  <head>
    <title>Don't Die Puppies | Meme Maker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container is-fluid">
    <%= render 'header' %>
    <% if flash %>
      <% flash.each do |k,v| %>
        <div>
          <%= v %>
        </div>
      <% end %>
    <% end %>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Don't Die Puppies
          </h1>
          <h2 class="subtitle">
            Welcome to Don't Die puppies the meme maker.
          </h2>
        </div>
      </div>
    </section>
    <%= yield %>
    <%= render 'footer' %>
  </div>
  </body>
</html>
